h1 {
  font-family: "Caudex";
  text-align: center;
}
h3 {
  font-family: "Caudex";
  text-align: center;
}
figure {
  font-family: "Caudex";
  text-align: center;
  color: #b0665d;
}
p {
  font-family: "Caudex";
}
